<button kendoButton [primary]="true">Click Me</button>
<input type="checkbox" kendoCheckBox />
<kendo-grid
    [pageSize]="5"
    [data]="gridDdata"
    [filterable]="true"
    [pageable]="true"
    [sortable]="true">
    <kendo-grid-column *ngFor="let col of columns" [field]="col.field"></kendo-grid-column>
</kendo-grid>

<kendo-datepicker [(value)]="value"></kendo-datepicker>
<br/>
<kendo-chart>
    <kendo-chart-series>
        <kendo-chart-series-item
            type="donut" [data]="data"
            categoryField="kind" field="share">
            <kendo-chart-series-item-labels
                [content]="labelContent"
                color='#fff' background="none">

            </kendo-chart-series-item-labels>

        </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart>